---
title: Post
subtitle: 
date: 2013/11/05
published: false
---

<p> Я часто думаю о том, куда я двигаюсь вобще по жизни? какие цели передо мной стоят? И чего я добился к сегодняшнему дню? И почему-то ответы меня не радуют.. Я или не знаю ответа на большинство вопросов или результаты меня не вдохновляют. И я сейчас говорю не о материальных вещах.. Многое из того, что я хотел бы для себя в жизни, у меня уже есть.. Поймите меня правильно, у меня трехкомнатная квартира в столице, машина, которая меня вполне устраивает, я могу себе позволить любые игрушки, о которых мечтал, начиная от Sony Playstation, чтобы резаться в GTA, заканчивая какой-нибудь электрогитарой Gibson Les Paul. У меня это все уже есть. Проблема, в том, что я не знаю чего хочу дальше</p>