---
title: Sticky Footer. Just Works!
subtitle: Еще подзаголовок
date: 2013/10/10
tags: Frontend
---

<p>Давно я хотел обновить этот блог на нечто более удобное, но все никак не получалось. Сейчас же я приложил немного усилий, установил новый движок, перенес часть публикаций, постепенно перенесу остальные. 
Теперь и вы, дорогие мои, можете публиковать свои мысли для коллективного просмотра/обсуждения/осуждения. Нужно всего лишь зарегистрироваться.
К сожалению все комментарии со старого сайта пропали, извиняйте. Нравиться?</p>
