---
title: Post
subtitle: 
date: 2013/10/18
tags: Frontend
---

<p>The first line,  is an important one. This tells Middleman that once we parse the post's content through this layout, we'll also send it to our default layout. This is what creates that single-layout structure that I mentioned a little earlier. Remember to close it with !</p>