---
title: Мысли в моей голове
subtitle:
date: 2013/11/04
tags: Мысли
---

<p>Человеческий мозг всю жизнь находится в состоянии активной деятельности.  Нет серьезно, вот попробуйте хоть секунд 10 ни о чем не думать - сразу же ловишь себя на мысли, что ты думаешь о том, что нужно не думать. Где-то давно читал, что практикующие медитацию восточные монахи умеют заставлять свой мозг погружаться в полное спокойствие и что средне статистическому человеку очень помогло бы, если бы он умел давать мозгу отдохнуть хотя бы на полминуты. В голове каждую секунду проносятся мысли, и контексты меняются молниеносно, даже о нескольких вещах можно думать одновременно.</p>

<p>Что самое неприятное, в последнее время, заметил что количество негативных мыслей стало преобладать. Не знаю с чем это связано, может взрослею, может больше забот в жизни появилось по сравнению например со студенческими временами, когда можно было забить на все и днями страдать херней. Скорее всего изменилось восприятие разных вещей.. я всегда верил в то, что по жизни нет плохих или хороших событий в принципе. Все события нейтральны на входе в наш 'ЦПУ', а уже мозг их красит в негативные или позитивные тона.</p> 

<p>Ну вот например, назвал тебя кто-то козлом в метро. Что по сути произошло? Кто-то выразил свою субъективную, даже не точку зрения (какая у него может быть точка зрения по поводу человека, которого он видит в первый раз?), а просто эмоцию, и совершенно не специально адресатом этой эмоции стал ты. Это реально мог быть кто-то другой. В общем произошло совершенно обычное явление, которое само по себе нейтрально, и только мы решаем в какой цвет его красить. Может у человека реально паршивый день, накипело, а высказав первому встречному пару крепких, он реально выпустил пар, и домой к семье прийдет уже спокойный и не будет срываться на них. Лично мне обычно пофигу что там думают и говорят люди, которые обо мне нихрена не знают, печальнее, когда тебя недолюбливают те, кто знают.</p>

<p>Как-то одна знакомая мне сказала, что от негативных мыслей нужно избавляться, просто сливая их куда-нибудь. Если этого не делать, ты их продолжаешь мусолить в голове изо дня в день, так как это все еще внутри тебя и тебя это волнует. И начинается процесс гниения, так как старые гнилые мысли продолжают будоражить твой мозг, а новые прибавляются с завидной регулярностью. Как же сливать это все из головы? Можно кому-то в уши, если у тебя есть друг который тебя всегда слушает и его еще не задолбало твое нытье. Можно просто записывать все о чем думаешь, или на крайняк поговорить с самим собой, но это уже, как по мне, дуркой попахивает.</p>

<p>В общем что-то подобное происходит со мной сейчас. У меня столько мыслей в голове спутываются в один клубок, что иногда, начиная писать один пост на какую-то тему, у меня рождются 2 новых на абсолютно другие темы. И все потому, что все это внутри меня и оно рвется наружу. Любые проблемы, которые волнуют, вопросы, не дающие спать по ночам, люди или вещи, которые раздражают, чувства, которые иногда переполняют, всему этому нужно находить здоровый выход или в конце концов наступить нервный срыв.</p>