---
title: Движение
subtitle: 
date: 2013/11/06
---

<p> Я часто думаю о том, куда я двигаюсь вообще по жизни? какие цели передо мной стоят? И чего я добился в жизни к сегодняшнему дню? И с ужасом понимаю, что я не знаю чего я хочу и какова цель моей жизни вообще. Последнее время все как-то стандартно - работа - дом, возможно какая-то активность по выходным, снова работа. И так проходят месяцы, годы.. Знаю, в таком режиме живет много людей, кто-то даже от зарплаты до зарплаты, и все равно у них есть какие-то ценности и цели в жизни. Есть даже те, кто ненавидит свою работу, и все равно выполняют ее изо-дня в день, из-за денег, из-за семьи, не важно, главное, что они видят в этом смысл.</p>

<p>Я же на самом деле люблю свою работу. Во-первых моя работа - это мое хобби, а во вторых, за нее довольно неплохо платят. А раз я неплохо получаю, то по идее что-то могу себе позволить в жизни. Проблема только с тем, что? Поймите меня правильно, многое из того, что я хотел бы для себя в жизни, у меня уже есть. У меня трехкомнатная квартира в столице, машина, которая меня вполне устраивает, я могу себе позволить любые игрушки, о которых мечтал когда-то, будь то какая-нибудь Sony Playstation или же не дешевая электрогитара Gibson Les Paul.</p>

<p>Понятно, что дело не в материальных вещах.. Когда-то в студенческие времена я играл в группе, и планировал стать знаменитым и играть классную музыку. Потом конечно финансовое положение заставило искать другие способы заработка, и я как-то забросил эту идею. Я и сейчас люблю поиграть для себя или для кого-то, но я вообще не представляю как начать этим увлекаться снова. Я кстати люблю путешествовать. И к счастью моя работа мне это позволяет, так как я могу работать удаленно. И тут тоже казалось бы, увидеть мир - это же так круто! Чем не цель в жизни? Я и правда отдыхаю от этого в поездках, новые места и впечатления помогают посмотреть на жизнь по другому. Но рано или поздно, ты возвращаешься домой и понимаешь что ты все еще не имеешь никакого курса, куда двигаться дальше.</p>

<p>Есть много вещей, которыми я "хочу" заняться. Только это "хочу" в основном заканчивается только разговорами типа "неплохо было бы..", когда доходит до конкретных действий, я как-то понимаю, что вроде и не сильно хочу. Возможно кто-то посоветовал бы завести семью, ведь многие мои знакомые и друзья уже давно так и поступили. Я и сам уже несколько раз подумывал об этом, но знаете что? Я точно так же этого хочу сейчас, как и всю ту кучу вещей за которую просто впадло взяться.</p>

<p>Если честно, я сейчас очень завидую людям у которых есть мечты, которые они пока не могут реализовать. Если бы у меня появилась такая, я бы наверное прилагал бы все усилия, чтобы добиться этого и получал бы кайф от того, что движусь к чему-то. Но у меня просто нет ничего, чего бы я хотел достаточно сильно... Интересно, это лечится?</p>